body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

main {
    margin-top: 20px;
}

section {
    margin: 20px 0;
}

.separator {
    margin: 20px 0;
    border-bottom: 2px solid #000;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#resultArea {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#scoreSummary {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#scoreSummary p {
    margin: 5px 0;
}

#finalResults {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}